.google-color1, .google-color1 div, .google-color1 span {
background-color: #ac725e;
border-color: #ac725e;
color: #1d1d1d;
}
.google-color2, .google-color2 div, .google-color2 span {
background-color: #d06b64;
border-color: #d06b64;
color: #1d1d1d;
}
.google-color3, .google-color3 div, .google-color3 span {
background-color: #f83a22;
border-color: #f83a22;
color: #1d1d1d;
}
.google-color4, .google-color4 div, .google-color4 span {
background-color: #fa573c;
border-color: #fa573c;
color: #1d1d1d;
}
.google-color5, .google-color5 div, .google-color5 span {
background-color: #ff7537;
border-color: #ff7537;
color: #1d1d1d;
}
.google-color6, .google-color6 div, .google-color6 span {
background-color: #ffad46;
border-color: #ffad46;
color: #1d1d1d;
}
.google-color7, .google-color7 div, .google-color7 span {
background-color: #42d692;
border-color: #42d692;
color: #1d1d1d;
}
.google-color8, .google-color8 div, .google-color8 span {
background-color: #16a765;
border-color: #16a765;
color: #1d1d1d;
}
.google-color9, .google-color9 div, .google-color9 span {
background-color: #7bd148;
border-color: #7bd148;
color: #1d1d1d;
}
.google-color10, .google-color10 div, .google-color10 span {
background-color: #b3dc6c;
border-color: #b3dc6c;
color: #1d1d1d;
}
.google-color11, .google-color11 div, .google-color11 span {
background-color: #fbe983;
border-color: #fbe983;
color: #1d1d1d;
}
.google-color12, .google-color12 div, .google-color12 span {
background-color: #fad165;
border-color: #fad165;
color: #1d1d1d;
}
.google-color13, .google-color13 div, .google-color13 span {
background-color: #92e1c0;
border-color: #92e1c0;
color: #1d1d1d;
}
.google-color14, .google-color14 div, .google-color14 span {
background-color: #9fe1e7;
border-color: #9fe1e7;
color: #1d1d1d;
}
.google-color15, .google-color15 div, .google-color15 span {
background-color: #9fc6e7;
border-color: #9fc6e7;
color: #1d1d1d;
}
.google-color16, .google-color16 div, .google-color16 span {
background-color: #4986e7;
border-color: #4986e7;
color: #1d1d1d;
}
.google-color17, .google-color17 div, .google-color17 span {
background-color: #9a9cff;
border-color: #9a9cff;
color: #1d1d1d;
}
.google-color18, .google-color18 div, .google-color18 span {
background-color: #b99aff;
border-color: #b99aff;
color: #1d1d1d;
}
.google-color19, .google-color19 div, .google-color19 span {
background-color: #c2c2c2;
border-color: #c2c2c2;
color: #1d1d1d;
}
.google-color20, .google-color20 div, .google-color20 span {
background-color: #cabdbf;
border-color: #cabdbf;
color: #1d1d1d;
}
.google-color21, .google-color21 div, .google-color21 span {
background-color: #cca6ac;
border-color: #cca6ac;
color: #1d1d1d;
}
.google-color22, .google-color22 div, .google-color22 span {
background-color: #f691b2;
border-color: #f691b2;
color: #1d1d1d;
}
.google-color23, .google-color23 div, .google-color23 span {
background-color: #cd74e6;
border-color: #cd74e6;
color: #1d1d1d;
}
.google-color24, .google-color24 div, .google-color24 span {
background-color: #a47ae2;
border-color: #a47ae2;
color: #1d1d1d;
}