<h1 class="text-center">{{ title }}</h1>
<ul class="nav nav-pills">
    <li role="presentation"><a href="#/">Checklist General</a></li>
    <li role="presentation"><a href="#/myProjects">Mis proyectos</a></li>
    <li role="presentation"><a href="#/projects">Proyectos</a></li>
    <li role="presentation"><a href="#/delegatesToMe">Delegadas a mi</a></li>
    <li role="presentation"><a href="#/myDelegates">Mis delegadas</a></li>
    <li role="presentation"><a href="#/tasks">Mis Tareas</a></li>
</ul>